* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #260D34;
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_bar{
    display: flex;
    justify-content: space-around;

    background-color: rgba(46, 45, 47, 0.7);
    backdrop-filter: blur(35px);
    padding: 15px;
    text-align: left;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center; 

    height: 100vh;
    width: 100%;

    background-color: #260D34;
    background-image: url('../assets/paralax/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative; 
    overflow: hidden;    
}




#intro-content{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
    z-index: 6;

    border-radius: 25px;

    background-color: rgba(208, 144, 216, 0.315);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .08);
    padding: 20px;

    gap: 10%;  /* espaçamento entre as colunas */
}


#content-box {
    background-color: lightblue;
    padding: 20px; 
    border-radius: 10px;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center; /* Centraliza o texto e imagens */

    
}

.profile-wrapper {
    height: 100%;             /* ocupa 100% da altura da div pai */
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileIcon {
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.18);
    object-fit: cover;
}

#contatos-box{
    background-color: #291f2f;
}