<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="./style.css" rel="stylesheet"/>
    </head>

    <body>

        <!-- Menu de navegaçao-->
        <div class="centralizado" id="menu_bar">
            <div> <a href="/carros"> Catalago </a> </div>
            <div> <a href="car_manager.html"> Manager </a> </div>
            <div> <a href="login_user.html"> Log In </a> </div>
            <div> <a href="singin_user.html"> Cadastrar-se </a> </div>
        </div>

        <h1> <%= resposta %> </h1>
    </body>
</html>