<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= resposta %></title>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <main class="centralizado" id="blog-box">
        <h1 style="color: whitesmoke;"><%= resposta %></h1>
        <p style="color: whitesmoke;"><%= mensagem %></p>
        <br>
        <a href="/">
            <button class="botao-voltar">Voltar</button>
        </a>
    </main>
</body>
</html>
